<body>
    <%- include('header') %> 
<main>
    <div class="container-fluid">
        <div class="row">
            <h2>วาเลนไทม์</h2>
        </div>
    </div>
</main>    
    <%- include('footer') %> 
</body>
